AGENT__IP=192.168.0.102
AGENT__PORT=5000
SCHEDULER__BASE_URL=http://scheduler-center:8080
TEST_PLATFORM__BASE_URL=http://test-platform:8000
REGISTRATION__RG_ID=your_rg_id
REGISTRATION__PRODUCT_ID=your_product_id
EXECUTION__MAX_PARALLEL=3
EXECUTION__TESTCASE_TIMEOUT=3600